
<section class="py-5 text-center container">
<div class="row py-lg-5">
  <div class="col-lg-6 col-md-8 mx-auto">
  <div class="d-none d-md-block"><h1 class="display-4 fw-normal text-body-emphasis"><%= image_tag "guardiant.svg" %></h1></div>
  <div class="d-block d-md-none"><h1 class="display-4 fw-normal text-body-emphasis"><%= image_tag "guardiant_mobile.svg" %></h1></div>  
    <p class="lead text-body-secondary">「Guardiant」は防災対策について管理・出力する総合防災アプリです。</p>
    <p class="lead text-body-secondary">ユーザー登録をすることで以下の機能が利用できます。</p>
    <p class="lead text-body-secondary">
      <ul>
        <li>入力した住所から、近くの災害避難場所を確認</li>
        <li>家族や同居人の情報を基に、2週間分の防災備蓄がどれくらい必要かをお知らせ</li>
        <li>防災備蓄品をリストアップし、消費期限に合わせて指定の日にメールでお知らせ</li>
      </ul>
    </p>

    <p>
      <%= link_to  new_user_registration_path, class: "btn btn-primary my-2" do %>
        <i class="bi bi-person-plus-fill" aria-hidden="true"></i>
        新規登録
      <% end %>   
      <%= link_to  new_user_session_path, class: "btn btn-secondary my-2" do %>
        <i class="bi bi-box-arrow-in-left" aria-hidden="true"></i>
        ログイン
      <% end %>
    </p>
  </div>
</div>
</section>