<h1 class="display-6">使い方</h1>

<ul class="list-unstyled">
  <li>このページでは住所を入力して登録していただきます。</li>
  <li>登録をすると登録された住所を中心とした災害発生時の避難場所を表示することができます。</li>
  <li>下に表示されている「新規作成」ボタンを押すことで登録することができます。</li>
  <li>登録をする際に必要な情報は以下のとおりです。</li>
    <ul>
      <li>名前-管理に必要な名前なので自身でわかる名前を入力してください(例:自宅,職場 etc..)</li>
      <li>address-ここに住所を入力すると緯度と経度が自動的に入力されます。</li>
      <li>address-住所は日本語で以下の形式で入力してください</li>
      <li>県名市町村区名大字（例:東京都千代田区1-1-1)</li>
    </ul>
  </li>
</ul>