<h1 class="display-6">地図の読み方</h1>

<ul class="list-unstyled">
  <li>地図には色のついた丸い点が表示されます。</li>
  <li>点は災害発生時の避難場所（国土地理院より参照）を示しています。</li>
  <li>点の色はどのような災害発生時に避難場所として適しているかを示しています。</li>
<ul>
  <li class="red"><span class="circle"></span>赤色-洪水発生時</li>
  <li class="green"><span class="circle"></span>緑色-地震発生時</li>
  <li class="blue"><span class="circle"></span>青色-津波発生時</li>
  <li class="yellow"><span class="circle"></span>黄色-洪水・地震発生時</li>
  <li class="purple"><span class="circle"></span>紫色-洪水・津波発生時</li>
  <li class="light_blue"><span class="circle"></span>水色-地震・津波発生時</li>
  <li class="black"><span class="circle"></span>黒色-大規模な火事発生時</li>
</ul>
  </li>
  <li>※中に数字が入っている赤丸は複数の避難場所がまとめて表示されています。<BR>
      地図内右上の＋ボタンを押して拡大してみると個別に表示されます。
  </li>
</ul>