<h1 class="display-6">地図の読み方</h1>

<ul class="list-unstyled">
  <li>地図には色のついた丸い点が表示されます。</li>
  <li>点は災害発生時の避難場所（国土地理院より参照）を示しています。</li>
  <li>点の色はどのような災害発生時に避難場所として適しているかを示しています。</li>
    <ul>
      <li>赤-洪水発生時</li>
      <li>緑-地震発生時</li>
      <li>青-津波発生時</li>
      <li>黄色-洪水・地震発生時</li>
      <li>紫色-洪水・津波発生時</li>
      <li>黄色-洪水・地震発生時</li>
      <li>水色-地震・津波発生時</li>
      <li>黒色-大規模な火事発生時</li>
    </ul>
  </li>
</ul>