<h1 class="display-6">使い方</h1>

<ul class="list-unstyled">
  <li>このページでは物資の消費期限を登録すると消費期限が迫った際にメールで通知を受け取れます。</li>
  <li>物資の名前,消費期限,通知日を登録してください。</li>
  <li>下に表示されている「新規作成」ボタンを押すことで登録することができます。</li>
  <li>登録をする際に必要な情報は以下のとおりです。</li>
    <ul>
      <li>名前-管理に必要な名前なので自身でわかる名前を入力してください(例:水（二週間分）etc..)</li>
      <li>消費期限</li>
      <li>通知日-メールを受け取りたい日を登録してください。(消費期限の１ヶ月前がオススメです)</li>
    </ul>
  </li>
</ul>