<h1 class="display-6">使い方</h1>

<ul class="list-unstyled">
  <li>このページでは備蓄を計算したいメンバーを登録できます。</li>
  <li>登録されたメンバーに応じた災害発生時に備えておきたい食料品の必要備蓄量を知ることができます。</li>
  <li>下に表示されている「新規作成」ボタンを押すことで登録することができます。</li>
  <li>登録をする際に必要な情報は以下のとおりです。</li>
    <ul>
      <li>名前-管理に必要な名前なので氏名以外でも自身でわかる名前を入力してください(例:自分,brother,etc..)</li>
      <li>性別</li>
      <li>年齢-数え年で入力してください</li>
      <li>食生活</li>
      <li>ペットか否か</li>
    </ul>
  </li>
  <li>ユーザーを登録後、必要な物資量を表示するボタンが表示されます。</li>
</ul>