<h1>備蓄算出用メンバー</h1>
<i class="bi bi-0-circle"></i>
<%= render 'form' %>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>性別</th>
      <th>年齢</th>
      <th>食欲</th>
      <th>ペット？</th>
    </tr>
  </thead>


  </tbody>
</table>