<div class="listings">
  <div class="listings_channels">
    <img src="/assets/text557.svg" class="logo">
    <BR><BR><BR><BR><BR><BR>
    <h2 class="listings_header">menu</h2>
    <ul class="channel_list">
      <%= sidebar_link_item('避難場所一覧', maps_path) %>
      <%= sidebar_link_item('家族一覧', families_path) %>
      <%= sidebar_link_item('備蓄品管理', stockpiles_path) %>
    </ul>
  </div>
</div>