<div class="listings">
  <div class="listings_channels">
    <img src="/assets/logo.svg" class="logo">
    <h2 class="listings_header">menu</h2>
    <ul class="channel_list">
      <%= sidebar_link_item('避難場所一覧', maps_path) %>
      <%= sidebar_link_item('test', maps_path) %>
    </ul>
  </div>
</div>